table,th,tr,td{
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

table{
    width: 600px;
}

tr{
    width: 150px;
    height: 50px;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}